    body {
            font-family: Arial, sans-serif;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #272727;
        }
        header {
            color: #f0f0f0ff;
        }
        main{
            color: #f0f0f0ff;
        }
        .container {
            width: 60%;
            background: white;
            padding: 30px;
            border-radius: 15px;
            box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1);
        }