<!DOCTYPE html>
{% load static %}

<html lang="en, ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SolvoAI</title>

         <style>
            
        
    </style>

         <link rel ="stylesheet" href="{% static 'statik\main.css' %}">
         <script 
             src="https://code.jquery.com/jquery-3.7.1.slim.js" 
             integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" 
             crossorigin="anonymous"></script>
         <script src="{% static 'main.js' %}"></script>
    </head>

    <body>
    <header>    

         <h1>Welcome to SolvoAI</h1>
         <h2>Ваш цифровой психолог</h2>

    </header>
    <main>

        <h1>SolvoAI - Это электронный цифровой психолог нового поколения!</h1>
        <p>This is the main page of the SolvoAI application.</p>
        <h3>Наши услуги включают в себя:</h3>
        <ul>
            <li>Онлайн-консультации с использованием ИИ</li>
            <li>Персонализированные рекомендации по улучшению психического здоровья</li>
            <li>Анализ настроения и эмоционального состояния</li>   
        </ul>
        <p>Присоединяйтесь к нам и начните свой путь к лучшему психическому здоровью с SolvoAI!</p>

        <img src="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/YT_logo.max-700x3000.format-webp.webp" alt="youtube picture" width="300">

    </main>
    <footer>

        <p>&copy; 2025 SolvoAI. All rights reserved.</p>

    </footer>
     </body>
</html>

      